.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.info-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.info-section__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

#answer {
    text-align: center;
}

.display-4 {
    text-align: center;
}
